{% load static %}

<!DOCTYPE html>

<html>

    <head>
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'Books/icons8-source-code-64.png'%}" />

      <title>{% block title %}{% endblock %}</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!--Author-->
      <meta name="author" content="Roger Shao">
      <!--Open Graph Title-->
      <meta property="og:title" content="Roger S. F."/>
      <!--Open Graph Description-->    
      <meta property="og:description" content="Roger&#39;s personal website" />  
      <!--Open Graph Site Name-->
      <meta property="og:site_name" content="Roger S. F."/>
      <!--Type page-->    
      <meta property="og:type" content="website" />
      <!--Page Cover-->   
      <meta name="twitter:card" content="summary" /> 

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- Gallery -->
      <link href="//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.min.css" type="text/css" rel="stylesheet" />

      <!-- Handlebars JS Templating -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
      <!-- Bootstrap JS, Popper.js, and Jquery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!-- Cookies -->
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'Books/css/styles.css' %}" />

      {% block javascript %}
      {% endblock %}

    </head>

   {% block heading %}
   {% endblock %}

   {% block body %}
   {% endblock %}
   <!-- jQuery -->
   <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

   <!-- Tween Max -->
   <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>

   <!-- Gallery -->
   <script src="//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

   <!-- Custom JavaScript -->
   <script src="{% static 'Books/js/main.js'%}"></script>

</html>